.header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  position: relative;
  z-index: 1 ;
}
.header .menu{
  display: none;

}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
  padding: 0;
}

.header .l1  {
  width: 88px;
}
.header .l2  {
  width: 132px;
}
.header .l3  {
  width: 103px;
}

.header a {
  color: #E1FDFF;
  font-size: 16px;
  font-weight: 300;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #79F5FF;
  font-weight: 500;
  
}


.head{
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
 .open {
  display: block!important;
}
 .close {
  display: none!important;
}


@media (max-width: 768px) {
    .header .menunav {
      display: none; /* Hide the navigation links */
      width: 0;
    }
    .header .menu {
      display: block; /* Display the menu button */
    }
    /* .header li {
      margin-top: 40px;
      margin-left: 24px;
    } */
  
}
